.login {
    background-color: rgba(13, 12, 12, 0.76);
    height: 100vh;
  }
  .login__form {
    box-sizing: border-box;
    margin-bottom: 10%;
  }

  #form-login {
    width: 30%;
    margin: auto;
    padding: 5%;
    background-color: white;
    border-radius: 20px;
  }
  .login__form--title {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
  }
